body {
  background: #0f1724;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

a {
  color: #5294e2;
  text-decoration: none;
}

h1 {
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  padding: 3px;
  gap: 3px;
  margin: 3px;
  color: #cbcbcb;
  font-family: Arial, Helvetica, sans-serif;
}

.right {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  gap: 10px;
  flex-wrap: wrap-reverse;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
}


.topbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 20px;
  border: 1px solid  #1d2b4f;
  background-color: #141b2d;
  padding: 10px;
  margin-bottom: 20px;
}

.topbar a {
  color: #ffffff;
  text-decoration: none;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 20px;
}

.content {
  border-radius: 10px;
  border: 1px solid  #1d2b4f;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  border: 1px solid  #1d2b4f;
  background-color: #141b2d;
  padding: 10px;
  margin-top: 20px;
}

.footer p {
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 0;
}

.invisicontent {
  align-items: center;
  height: 100%;
  width: 100%;
}

