/* Code Block
This is a code block that can be used to display code snippets in a styled manner.
The .code class styles the container of the code block, while the .code h1 styles the heading within the code block. 
Example usage:

<div class="code">
  <h1>The code Python, C++ and other</h1>
  <pre>
    // Your code here
  </pre>
</div> 
*/

.code {
  background-color: #121a31;
  border: 1px solid #1d2b4f;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  height: auto;
  width: auto;
}
.code h1 {
  font-family: monospace;
  font-size: 16px;
  color: #e9e9e9;
  margin: 0;
  padding: 0;
}
.code pre {
  font-family: monospace;
  font-size: 12px;
  color: #e9e9e9;
  margin: 0;
  padding: 0;
}