/* la base pour les images 
souvent utilisé pour les images de base dans le site.*/
img {
  margin: 10px;
  border-radius: 15px;
}

.homelogo { /* pour le logo de la home page */
  margin-right: 10px;
  margin-left: 10px;
  width: 50px;
  height: 50px;
}

.homeimg {
  border: 1px solid #1d2b4f;
  width: auto;
  height: 200px;
}


/* utilisation de la class invisicontent pour les images 
Tu vois la class invisicontent dans base.css, elle est souvent utilisée aussi pour les vidéos et images par exemple pour faire une row d'objets.

<div class="invisicontent">
  <img src="Liens" alt="Example"> /* modifie src="Liens" par le lien de ton image * /
  <img src="Liens" alt="Example"> /* Tu peux ajouter autant d'images que tu veux ici * /
</div>
*/
