/* pour que les vidéo youtube s'intègrent bien */
.ytiframe { 
  width: auto;
  border-radius: 15px;
  border: 1px solid #1d2b4f;
  height: 200px;
  margin: 10px;
}



/* utilisation de la class invisicontent pour les vidéos 
Tu vois la class invisicontent dans base.css, elle est souvent utilisée aussi pour les vidéos et images par exemple pour faire une row d'objets.

<div class="invisicontent">
    <iframe src="Liens" class="ytiframe"></iframe> /* modifie src="Liens" par le lien de ta vidéo * /
    <iframe src="Liens" class="ytiframe"></iframe> /* Tu peux ajouter autant de vidéos que tu veux ici * /
</div>
*/
